import init.say.rc
import init.say.usb.rc

on boot

    setprop ro.build.product SHW-M130L
    setprop ro.product.device SHW-M130L

service pppd_cdma /system/bin/pppd_runner
   class main
   user root
   group radio cache inet misc system
   disabled
   oneshot

service gps-daemon /system/vendor/bin/gpsd
    class main
    user system
    group system inet

on property:ril.cdma.data_state=1
    restart pppd_cdma

on property:ril.cdma.data_state=0
    stop pppd_cdma

